# This is an example of what your env file should look like.
# You can copy this file and rename it to .env and fill in the values.
VITE_PROJECT_HOSTNAME=pic-sure.org
VITE_RESOURCE_HPDS=some-uuid
VITE_OPEN=false

# VITE_AUTH_PROVIDER_MODULE is the prefix for any authorization providers you want to use.
# We currently support 3 types of authorization providers: AUTH0, Gen3 FENCE, and RAS.
# You can add as many authorization providers as you want by adding more VITE_AUTH_PROVIDER_MODULE_ variables.
# You can have n number of each type of authorization provider.
# When the server starts it will automatically add the authorization providers to the login page if they are enabled.
# VITE_AUTH_PROVIDER_MODULE_GOOGLE_ALT is an optional field that can be used to specify if the provider should be displayed as an alternative login option.
# The pattern for adding authorization providers is as follows:
# VITE_AUTH_PROVIDER_MODULE_<PROVIDER_NAME>_<FIELD>=<VALUE>
VITE_AUTH_PROVIDER_MODULE_GOOGLE=true
VITE_AUTH_PROVIDER_MODULE_GOOGLE_TYPE=AUTH0
VITE_AUTH_PROVIDER_MODULE_GOOGLE_CLIENTID=12345ABCD
VITE_AUTH_PROVIDER_MODULE_GOOGLE_CONNECTION=oauth2
VITE_AUTH_PROVIDER_MODULE_GOOGLE_DESCRIPTION="Login with Auth0"
VITE_AUTH_PROVIDER_MODULE_GOOGLE_HELPTEXT='Login with your <a href="https://google.com">Google</a> account'
VITE_AUTH_PROVIDER_MODULE_GOOGLE_ALT=false

# Features
# VITE_ALLOW_EXPORT=true
# VITE_ALLOW_EXPORT_ENABLED=true
# VITE_DATA_REQUESTS=true
# VITE_GENOMIC_FILTER=true
# VITE_VARIANT_EXPLORER=true

# Variant Explorer Settings
# VITE_VARIANT_EXPLORER_TYPE=aggregate
# VITE_VARIANT_EXPLORER_MAX_COUNT=10000
# VITE_VARIANT_EXPLORER_EXCLUDE_COLUMNS=["AC","AN"]