[data-theme='picsure'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: var(--radius-xl);
  --radius-container: var(--radius-xl);
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(91.75% 0.02 262.77deg);
  --color-primary-100: oklch(82.39% 0.04 261.95deg);
  --color-primary-200: oklch(72.84% 0.06 261.59deg);
  --color-primary-300: oklch(62.78% 0.08 261.25deg);
  --color-primary-400: oklch(52.92% 0.1 260.85deg);
  --color-primary-500: oklch(43.14% 0.13 260.55deg);
  --color-primary-600: oklch(40.04% 0.12 260.54deg);
  --color-primary-700: oklch(36.92% 0.1 260.94deg);
  --color-primary-800: oklch(33.94% 0.09 260.22deg);
  --color-primary-900: oklch(30.69% 0.08 260.73deg);
  --color-primary-950: oklch(27.3% 0.07 260.75deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-light);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(94.86% 0.01 231.15deg);
  --color-secondary-100: oklch(89.06% 0.03 232.42deg);
  --color-secondary-200: oklch(83.18% 0.05 232.39deg);
  --color-secondary-300: oklch(77.42% 0.06 234.28deg);
  --color-secondary-400: oklch(71.61% 0.08 234.68deg);
  --color-secondary-500: oklch(65.94% 0.1 235.98deg);
  --color-secondary-600: oklch(60.94% 0.09 236.33deg);
  --color-secondary-700: oklch(55.79% 0.08 236.38deg);
  --color-secondary-800: oklch(50.82% 0.07 235.48deg);
  --color-secondary-900: oklch(45.42% 0.06 235.42deg);
  --color-secondary-950: oklch(39.91% 0.05 235.95deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(93.4% 0.03 289.44deg);
  --color-tertiary-100: oklch(85.98% 0.07 288.23deg);
  --color-tertiary-200: oklch(78.61% 0.11 286.86deg);
  --color-tertiary-300: oklch(71.43% 0.16 285.51deg);
  --color-tertiary-400: oklch(64.45% 0.2 283.01deg);
  --color-tertiary-500: oklch(57.97% 0.23 279.67deg);
  --color-tertiary-600: oklch(53.63% 0.22 279.6deg);
  --color-tertiary-700: oklch(49.27% 0.2 279.89deg);
  --color-tertiary-800: oklch(44.58% 0.18 280.05deg);
  --color-tertiary-900: oklch(40.01% 0.15 280.5deg);
  --color-tertiary-950: oklch(35.23% 0.13 280.5deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(96.84% 0.02 140.4deg);
  --color-success-100: oklch(93.29% 0.04 140.63deg);
  --color-success-200: oklch(89.75% 0.06 140.02deg);
  --color-success-300: oklch(86.21% 0.08 140.74deg);
  --color-success-400: oklch(82.76% 0.11 140.35deg);
  --color-success-500: oklch(79.39% 0.13 140.39deg);
  --color-success-600: oklch(73.38% 0.12 140.27deg);
  --color-success-700: oklch(67.18% 0.11 140.53deg);
  --color-success-800: oklch(60.63% 0.09 139.95deg);
  --color-success-900: oklch(54.11% 0.08 140.24deg);
  --color-success-950: oklch(47.45% 0.07 140deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(96.9% 0.03 76.79deg);
  --color-warning-100: oklch(93.63% 0.05 76.93deg);
  --color-warning-200: oklch(90.45% 0.08 77.03deg);
  --color-warning-300: oklch(87.23% 0.11 75.29deg);
  --color-warning-400: oklch(84.36% 0.13 74.27deg);
  --color-warning-500: oklch(81.67% 0.15 72.04deg);
  --color-warning-600: oklch(75.38% 0.14 72.25deg);
  --color-warning-700: oklch(68.96% 0.13 72.32deg);
  --color-warning-800: oklch(62.39% 0.11 72.63deg);
  --color-warning-900: oklch(55.65% 0.1 72.76deg);
  --color-warning-950: oklch(48.68% 0.09 73.27deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(92.29% 0.03 2.18deg);
  --color-error-100: oklch(83.37% 0.06 2.76deg);
  --color-error-200: oklch(74.58% 0.09 4.03deg);
  --color-error-300: oklch(66.44% 0.12 5.89deg);
  --color-error-400: oklch(58.67% 0.16 8.76deg);
  --color-error-500: oklch(52.16% 0.18 13.31deg);
  --color-error-600: oklch(48.25% 0.17 13.33deg);
  --color-error-700: oklch(44.28% 0.15 12.8deg);
  --color-error-800: oklch(40.2% 0.14 12.77deg);
  --color-error-900: oklch(36.05% 0.12 12deg);
  --color-error-950: oklch(31.75% 0.1 11.85deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(92.83% 0 287.25deg);
  --color-surface-100: oklch(84.58% 0 286.73deg);
  --color-surface-200: oklch(76.34% 0 264.65deg);
  --color-surface-300: oklch(67.7% 0 286.61deg);
  --color-surface-400: oklch(58.95% 0 264.62deg);
  --color-surface-500: oklch(49.63% 0 271.39deg);
  --color-surface-600: oklch(46.05% 0 271.37deg);
  --color-surface-700: oklch(42.37% 0 264.58deg);
  --color-surface-800: oklch(38.74% 0 286.39deg);
  --color-surface-900: oklch(34.88% 0 286.57deg);
  --color-surface-950: oklch(30.96% 0 286.52deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-light);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}

[data-theme='bdc'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: var(--radius-xl);
  --radius-container: var(--radius-xl);
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(92.11% 0.01 238.46deg);
  --color-primary-100: oklch(82.69% 0.03 243.15deg);
  --color-primary-200: oklch(73.12% 0.05 244.52deg);
  --color-primary-300: oklch(63.68% 0.07 244.95deg);
  --color-primary-400: oklch(53.94% 0.09 246.56deg);
  --color-primary-500: oklch(44.37% 0.11 249.59deg);
  --color-primary-600: oklch(41.18% 0.1 249.88deg);
  --color-primary-700: oklch(37.86% 0.09 249.76deg);
  --color-primary-800: oklch(34.83% 0.08 249.53deg);
  --color-primary-900: oklch(31.37% 0.07 249.4deg);
  --color-primary-950: oklch(27.89% 0.06 250.19deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-light);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(95.44% 0.02 240.7deg);
  --color-secondary-100: oklch(90.33% 0.04 238.91deg);
  --color-secondary-200: oklch(85.34% 0.07 238.9deg);
  --color-secondary-300: oklch(80.38% 0.1 241.39deg);
  --color-secondary-400: oklch(75.74% 0.12 242deg);
  --color-secondary-500: oklch(71.37% 0.14 243.38deg);
  --color-secondary-600: oklch(66.03% 0.13 242.96deg);
  --color-secondary-700: oklch(60.31% 0.12 242.95deg);
  --color-secondary-800: oklch(54.77% 0.11 242.88deg);
  --color-secondary-900: oklch(48.76% 0.09 242.85deg);
  --color-secondary-950: oklch(42.85% 0.08 242deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(92.8% 0 none);
  --color-tertiary-100: oklch(84.52% 0 none);
  --color-tertiary-200: oklch(76.36% 0 none);
  --color-tertiary-300: oklch(67.64% 0 none);
  --color-tertiary-400: oklch(58.97% 0 none);
  --color-tertiary-500: oklch(49.62% 0 none);
  --color-tertiary-600: oklch(46.04% 0 none);
  --color-tertiary-700: oklch(42.39% 0 none);
  --color-tertiary-800: oklch(38.67% 0 none);
  --color-tertiary-900: oklch(34.85% 0 none);
  --color-tertiary-950: oklch(30.92% 0 none);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(95.49% 0.01 145.3deg);
  --color-success-100: oklch(90.42% 0.03 143.42deg);
  --color-success-200: oklch(85.54% 0.04 144.04deg);
  --color-success-300: oklch(80.33% 0.06 144.2deg);
  --color-success-400: oklch(75.41% 0.07 144.19deg);
  --color-success-500: oklch(70.24% 0.09 143.6deg);
  --color-success-600: oklch(64.83% 0.08 143.5deg);
  --color-success-700: oklch(59.33% 0.07 143.96deg);
  --color-success-800: oklch(53.99% 0.07 143.22deg);
  --color-success-900: oklch(48.21% 0.06 143.79deg);
  --color-success-950: oklch(42.23% 0.05 143.64deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(97.88% 0.03 92.29deg);
  --color-warning-100: oklch(95.58% 0.06 92.11deg);
  --color-warning-200: oklch(93.38% 0.09 91.99deg);
  --color-warning-300: oklch(91.29% 0.12 91.82deg);
  --color-warning-400: oklch(89.34% 0.14 91.06deg);
  --color-warning-500: oklch(87.52% 0.16 89.75deg);
  --color-warning-600: oklch(80.78% 0.15 89.87deg);
  --color-warning-700: oklch(73.91% 0.13 90.02deg);
  --color-warning-800: oklch(66.65% 0.12 89.57deg);
  --color-warning-900: oklch(59.42% 0.1 89.7deg);
  --color-warning-950: oklch(51.95% 0.09 89.86deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(91.74% 0.03 2.08deg);
  --color-error-100: oklch(82.35% 0.07 2.95deg);
  --color-error-200: oklch(73.17% 0.11 4.27deg);
  --color-error-300: oklch(64.64% 0.15 7.38deg);
  --color-error-400: oklch(57.35% 0.18 11.14deg);
  --color-error-500: oklch(51.99% 0.2 17.3deg);
  --color-error-600: oklch(48.04% 0.18 17.03deg);
  --color-error-700: oklch(44.02% 0.17 16.71deg);
  --color-error-800: oklch(39.77% 0.15 16.32deg);
  --color-error-900: oklch(35.59% 0.13 15.9deg);
  --color-error-950: oklch(31.32% 0.11 15.44deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(97.61% 0 none);
  --color-surface-100: oklch(94.61% 0 none);
  --color-surface-200: oklch(91.89% 0 none);
  --color-surface-300: oklch(88.84% 0 none);
  --color-surface-400: oklch(86.07% 0 none);
  --color-surface-500: oklch(82.97% 0 none);
  --color-surface-600: oklch(70.25% 0 none);
  --color-surface-700: oklch(56.93% 0 none);
  --color-surface-800: oklch(43.13% 0 none);
  --color-surface-900: oklch(27.68% 0 none);
  --color-surface-950: oklch(0% 0 none);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-dark);
  --color-surface-contrast-700: var(--color-surface-contrast-dark);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}

[data-theme='gic'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: var(--radius-xl);
  --radius-container: var(--radius-xl);
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(81.72% 0.07 258.6deg);
  --color-primary-100: oklch(74.76% 0.08 258.12deg);
  --color-primary-200: oklch(67.52% 0.1 258.61deg);
  --color-primary-300: oklch(60.42% 0.12 257.89deg);
  --color-primary-400: oklch(53.19% 0.13 258.41deg);
  --color-primary-500: oklch(46.36% 0.15 258.81deg);
  --color-primary-600: oklch(43.24% 0.14 258.94deg);
  --color-primary-700: oklch(40.28% 0.12 258.37deg);
  --color-primary-800: oklch(37.15% 0.11 258.78deg);
  --color-primary-900: oklch(34.09% 0.09 257.97deg);
  --color-primary-950: oklch(30.77% 0.08 258.24deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: oklch(100% 0 none);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-light);
  --color-primary-contrast-400: var(--color-primary-contrast-light);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(93.34% 0.03 289.82deg);
  --color-secondary-100: oklch(85.91% 0.07 288.43deg);
  --color-secondary-200: oklch(78.52% 0.11 287.02deg);
  --color-secondary-300: oklch(71.45% 0.15 285.41deg);
  --color-secondary-400: oklch(64.42% 0.19 283.01deg);
  --color-secondary-500: oklch(57.88% 0.23 279.74deg);
  --color-secondary-600: oklch(53.54% 0.21 279.67deg);
  --color-secondary-700: oklch(49.11% 0.19 280.08deg);
  --color-secondary-800: oklch(44.58% 0.17 280.03deg);
  --color-secondary-900: oklch(39.93% 0.15 280.63deg);
  --color-secondary-950: oklch(35.15% 0.13 280.65deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(96.69% 0.05 196.34deg);
  --color-tertiary-100: oklch(90.23% 0.07 223.64deg);
  --color-tertiary-200: oklch(83.63% 0.09 239.48deg);
  --color-tertiary-300: oklch(77.33% 0.12 247.06deg);
  --color-tertiary-400: oklch(71.08% 0.15 252.45deg);
  --color-tertiary-500: oklch(65.4% 0.19 255.74deg);
  --color-tertiary-600: oklch(59.01% 0.18 257.32deg);
  --color-tertiary-700: oklch(52.71% 0.17 258.66deg);
  --color-tertiary-800: oklch(45.95% 0.17 260.09deg);
  --color-tertiary-900: oklch(39.37% 0.16 261.5deg);
  --color-tertiary-950: oklch(32.43% 0.15 262.41deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(96.01% 0.03 134.94deg);
  --color-success-100: oklch(91.47% 0.06 135.16deg);
  --color-success-200: oklch(87.09% 0.09 134.91deg);
  --color-success-300: oklch(82.48% 0.13 135.02deg);
  --color-success-400: oklch(78.31% 0.15 135.37deg);
  --color-success-500: oklch(74.23% 0.18 136.2deg);
  --color-success-600: oklch(68.55% 0.16 136.25deg);
  --color-success-700: oklch(62.79% 0.15 136.05deg);
  --color-success-800: oklch(56.86% 0.13 136.26deg);
  --color-success-900: oklch(50.82% 0.12 135.99deg);
  --color-success-950: oklch(44.53% 0.1 136.07deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(99.4% 0.03 106.89deg);
  --color-warning-100: oklch(96.01% 0.06 94.11deg);
  --color-warning-200: oklch(92.55% 0.09 89.05deg);
  --color-warning-300: oklch(89.45% 0.12 86.45deg);
  --color-warning-400: oklch(86.33% 0.14 83.43deg);
  --color-warning-500: oklch(83.61% 0.16 80.15deg);
  --color-warning-600: oklch(78.36% 0.15 83.63deg);
  --color-warning-700: oklch(73.27% 0.13 88.45deg);
  --color-warning-800: oklch(67.93% 0.12 93.76deg);
  --color-warning-900: oklch(62.76% 0.11 101deg);
  --color-warning-950: oklch(57.35% 0.1 109.17deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(91.75% 0.04 17.93deg);
  --color-error-100: oklch(82.64% 0.09 19.25deg);
  --color-error-200: oklch(74.82% 0.15 21.31deg);
  --color-error-300: oklch(68.31% 0.2 24.26deg);
  --color-error-400: oklch(64.4% 0.24 27.44deg);
  --color-error-500: oklch(62.8% 0.26 29.23deg);
  --color-error-600: oklch(57.92% 0.24 29.27deg);
  --color-error-700: oklch(52.91% 0.22 29.28deg);
  --color-error-800: oklch(47.62% 0.19 29.25deg);
  --color-error-900: oklch(42.35% 0.17 29.25deg);
  --color-error-950: oklch(36.98% 0.15 29.41deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(99.11% 0 none);
  --color-surface-100: oklch(91.89% 0 none);
  --color-surface-200: oklch(84.21% 0 none);
  --color-surface-300: oklch(76.68% 0 none);
  --color-surface-400: oklch(68.62% 0 none);
  --color-surface-500: oklch(60.66% 0 none);
  --color-surface-600: oklch(56.24% 0 none);
  --color-surface-700: oklch(51.73% 0 none);
  --color-surface-800: oklch(46.76% 0 none);
  --color-surface-900: oklch(42.02% 0 none);
  --color-surface-950: oklch(37.15% 0 none);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}

[data-theme='bch'] {
  --text-scaling: 1;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: var(--radius-xl);
  --radius-container: var(--radius-xl);
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(75.75% 0.08 261.6deg);
  --color-primary-100: oklch(67.57% 0.1 261.94deg);
  --color-primary-200: oklch(59.21% 0.11 261.59deg);
  --color-primary-300: oklch(51.04% 0.13 261.04deg);
  --color-primary-400: oklch(42.66% 0.14 260.9deg);
  --color-primary-500: oklch(34.66% 0.15 261.33deg);
  --color-primary-600: oklch(32.82% 0.14 261.29deg);
  --color-primary-700: oklch(31.17% 0.13 260.99deg);
  --color-primary-800: oklch(29.28% 0.13 260.91deg);
  --color-primary-900: oklch(27.58% 0.12 260.47deg);
  --color-primary-950: oklch(25.63% 0.11 260.32deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-light);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(84.62% 0.06 230.55deg);
  --color-secondary-100: oklch(78.54% 0.08 231.21deg);
  --color-secondary-200: oklch(72.77% 0.1 231.72deg);
  --color-secondary-300: oklch(66.94% 0.11 233.59deg);
  --color-secondary-400: oklch(61.61% 0.12 236.2deg);
  --color-secondary-500: oklch(56.32% 0.13 240.7deg);
  --color-secondary-600: oklch(52.72% 0.12 240.62deg);
  --color-secondary-700: oklch(49.05% 0.11 240.52deg);
  --color-secondary-800: oklch(45.51% 0.1 238.99deg);
  --color-secondary-900: oklch(41.7% 0.09 238.66deg);
  --color-secondary-950: oklch(37.8% 0.08 238.25deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(81.25% 0.13 343.5deg);
  --color-tertiary-100: oklch(76.72% 0.14 343.92deg);
  --color-tertiary-200: oklch(72.2% 0.15 344.41deg);
  --color-tertiary-300: oklch(67.69% 0.16 345.16deg);
  --color-tertiary-400: oklch(63.25% 0.16 345.84deg);
  --color-tertiary-500: oklch(58.88% 0.17 346.65deg);
  --color-tertiary-600: oklch(54.45% 0.16 347.16deg);
  --color-tertiary-700: oklch(50.05% 0.16 347.5deg);
  --color-tertiary-800: oklch(45.52% 0.15 348.24deg);
  --color-tertiary-900: oklch(41.06% 0.15 348.89deg);
  --color-tertiary-950: oklch(36.45% 0.14 350.15deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(85.8% 0.13 120.26deg);
  --color-success-100: oklch(79.81% 0.13 120.63deg);
  --color-success-200: oklch(73.97% 0.14 121.46deg);
  --color-success-300: oklch(67.89% 0.14 121.68deg);
  --color-success-400: oklch(61.91% 0.14 122.97deg);
  --color-success-500: oklch(55.61% 0.14 124.37deg);
  --color-success-600: oklch(51.51% 0.13 124.26deg);
  --color-success-700: oklch(47.34% 0.12 124.12deg);
  --color-success-800: oklch(42.72% 0.11 124.06deg);
  --color-success-900: oklch(38.33% 0.09 123.84deg);
  --color-success-950: oklch(33.82% 0.08 123.55deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-light);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(88.06% 0.11 86.59deg);
  --color-warning-100: oklch(86.08% 0.13 86.07deg);
  --color-warning-200: oklch(83.99% 0.14 84.5deg);
  --color-warning-300: oklch(82.06% 0.16 83.52deg);
  --color-warning-400: oklch(80.14% 0.16 80.66deg);
  --color-warning-500: oklch(78.49% 0.16 77.57deg);
  --color-warning-600: oklch(72.58% 0.15 77.67deg);
  --color-warning-700: oklch(66.54% 0.14 77.78deg);
  --color-warning-800: oklch(60.36% 0.13 77.93deg);
  --color-warning-900: oklch(54.02% 0.11 78.12deg);
  --color-warning-950: oklch(47.49% 0.1 78.38deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(78.31% 0.09 19.33deg);
  --color-error-100: oklch(72% 0.13 20.82deg);
  --color-error-200: oklch(66.45% 0.17 22.85deg);
  --color-error-300: oklch(61.92% 0.2 25.45deg);
  --color-error-400: oklch(58.98% 0.23 27.87deg);
  --color-error-500: oklch(57.51% 0.24 29.23deg);
  --color-error-600: oklch(53.27% 0.22 29.23deg);
  --color-error-700: oklch(49.15% 0.2 29.23deg);
  --color-error-800: oklch(44.73% 0.18 29.23deg);
  --color-error-900: oklch(40.41% 0.17 29.23deg);
  --color-error-950: oklch(35.75% 0.15 29.23deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(100% 0 none);
  --color-surface-100: oklch(91.84% 0 247.74deg);
  --color-surface-200: oklch(83.26% 0 264.67deg);
  --color-surface-300: oklch(74.77% 0 271.47deg);
  --color-surface-400: oklch(65.71% 0.01 275.01deg);
  --color-surface-500: oklch(56.58% 0.01 268.54deg);
  --color-surface-600: oklch(49.57% 0.01 264.53deg);
  --color-surface-700: oklch(42.31% 0.01 258.36deg);
  --color-surface-800: oklch(34.53% 0 286.34deg);
  --color-surface-900: oklch(26.49% 0 286.45deg);
  --color-surface-950: oklch(17.76% 0 none);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
