@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

/*
  Add your theme import for your theme: "picsure-theme" here
*/
@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton/dist/**/*.{html,js,svelte,ts}';

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
}

html,
body {
  @reference h-full overflow-hidden;
}

.monospace {
  font-family: monospace;
}

.main-content {
  width: 70%;
  margin: 2rem auto 0;
}

.main-content.w-full {
  width: calc(100% - 4rem);
  margin: 2rem 1.5rem;
}

input[type='search'] {
  width: 100%;
  box-sizing: border-box;
  @reference input;
}

input[type='checkbox'] {
  @reference checkbox;
}

select {
  @reference select;
}

@media print {
  .app-bar #page-navigation {
    display: none;
  }
  .main-content {
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left !important;
  }
  html,
  body {
    height: auto !important;
    overflow: auto !important;
  }
  body.overflow-hidden,
  .app-shell.overflow-hidden,
  .app-shell div.overflow-hidden {
    overflow: auto !important;
  }
  body.h-full,
  .app-shell.h-full,
  .app-shell div.h-full {
    height: auto !important;
  }
}

#sidebar-right {
  border-left: 2px solid rgba(var(--color-surface-500));
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @reference my-1;
}

h1,
.h1 {
  font-size: 2rem;
  line-height: 2.75rem;
}
h2,
.h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
h3,
.h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4,
.h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
h6,
.h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}

ol.primary-list,
ul.primary-list {
  padding-left: 3rem;
}
ol.primary-list {
  list-style: decimal;
}
ul.primary-list {
  list-style: disc;
}
ol.primary-list li::marker,
ul.primary-list li::marker {
  color: rgba(var(--color-primary-500));
}

.anchor {
  @reference text-primary-700-200-token;
}

/* Loading progress bar animation */
.anim-progress-bar {
  transform-origin: 0% 50%;
  animation: anim-progress-bar 2s infinite linear;
}
@keyframes anim-progress-bar {
  0% {
    transform: translateX(50%) scaleX(0.5);
  }
  50% {
    transform: translateX(0) scaleX(0.5);
  }
  100% {
    transform: translateX(50%) scaleX(0.5);
  }
}

.table thead th {
  font-weight: normal !important;
}

.table thead.sticky-header th {
  position: sticky;
  top: 0;
}

.table tbody td {
  font-size: 1rem;
  line-height: 1.25rem;
}

.table tbody tr:nth-child(even) {
  @reference bg-surface-700/20;
}

.table tbody tr.expandable-row {
  background-color: rgb(var(--color-surface-300)) !important;
}

.table.align-middle tbody td {
  vertical-align: middle;
}

#nav-logo {
  max-height: 80px;
}

header .app-bar {
  border-bottom: solid rgb(var(--color-surface-400)) 2px;
}

#page-footer {
  border-style: solid;
  border-top-width: 2px;
  @reference bg-primary-100-800-token border-surface-400-500-token;
}

#main-footer {
  padding: 0.75rem;
  @reference bg-primary-300-600-token;
}
#main-footer ul {
  margin: 0 auto;
  text-align: center;
}
#main-footer ul li {
  display: inline;
  padding: 0 0.45rem;
  border-style: solid;
  border-right-width: 2px;
  @reference border-primary-400-500-token;
}
#main-footer ul li:last-child {
  border-right: none;
}

.key-focus {
  border: 2px solid rgb(var(--color-surface-500)) !important;
}

nav#page-navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-end;
  padding: 0 0.6em;
  margin: 0 -0.6em 0;
}

nav#page-navigation ul {
  list-style-type: none;
}

nav#page-navigation li {
  float: left;
  margin: 0.4rem 0.2rem;
}

nav#page-navigation li a.nav-link {
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 2.75rem;
  width: 8rem;
  @reference rounded-container-token;
}

nav#page-navigation a.nav-link[aria-current='page'] {
  @reference variant-filled-primary;
}

nav#page-navigation a.nav-link:hover,
nav#page-navigation a.nav-link:active,
nav#page-navigation a.nav-link:focus,
nav#page-navigation li.open a.nav-link,
nav#page-navigation a.nav-link.highlight {
  @reference variant-filled-secondary;
}

nav#page-navigation li .nav-dropdown {
  position: absolute;
  padding-bottom: var(--theme-rounded-container);
  width: 8rem;
  @reference rounded-container-token bg-primary-300-600-token;

  /* link top padding (from nav#page-navigation li: 0.4rem) + link height (from nav#page-navigation li a.nav-link: 2.75rem) */
  top: 3.15rem;
}
nav#page-navigation li .nav-dropdown li {
  display: block;
  width: 100%;
  margin: 0;
}

nav#page-navigation li.open > .nav-dropdown {
  border-radius: 0 0 var(--theme-rounded-container) var(--theme-rounded-container);
}

nav#page-navigation li.open a.nav-link {
  border-radius: var(--theme-rounded-container) var(--theme-rounded-container) 0 0;
}

nav#page-navigation li .nav-dropdown a {
  display: block;
  text-align: center;
  padding: 0.2em;
}

nav#page-navigation li .nav-dropdown a:hover,
nav#page-navigation li .nav-dropdown a:focus {
  @reference bg-secondary-300-600-token text-on-secondary-token;
}

.help-text a {
  @reference anchor;
}

#visualizations {
  .main-svg {
    border-radius: var(--theme-rounded-container);
    box-shadow: 0 0 2px 0px rgba(var(--color-surface-500));
  }
  .modebar-group:last-child {
    background-color: transparent !important;
  }
}

.main-content .subtitle {
  font-size: 1.5rem;
}

.accordion-item button {
  @reference bg-primary-300;
  border-radius: var(--theme-rounded-container) var(--theme-rounded-container) 0 0;
}

.accordion-item button[aria-expanded='false'] {
  @reference rounded-container-token;
}

#user-token span.badge.expired {
  @reference variant-filled-error;
}

#user-token span.badge.expiring {
  @reference variant-filled-warning;
}

#user-token span.badge.valid {
  @reference variant-filled-success;
}

.input-border {
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.5em;
  border-radius: var(--theme-rounded-container);
}

#user-token #token {
  @reference input input-border;
}

.btn-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.required span:after,
legend.required:after {
  content: ' *';
  display: inline;
  @reference text-error-500-400-token;
}

input.required:invalid,
label.required input:invalid,
.label.required input:invalid {
  @reference text-error-500-400-token;
}

.top-dots {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.bottom-dots {
  position: absolute;
  bottom: 70px;
  right: 10px;
  transform: rotate(180deg);
  z-index: -1;
}

.btn-icon-color {
  color: rgba(var(--theme-font-color-base));

  &:hover {
    @reference text-primary-600-300-token;
  }

  &:disabled {
    @reference text-surface-400;
  }
}

.dark .btn-icon-color {
  color: rgba(var(--theme-font-color-dark));
}

.dark .shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(var(--color-surface-50) / 0.1),
    0 4px 6px -4px rgb(var(--color-surface-50) / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgb(var(--color-surface-50))),
    var(--tw-ring-shadow, 0 0 rgb(var(--color-surface-50))), var(--tw-shadow);
}

.card-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  text-align: center;

  padding: 1rem 0.5rem;
  margin: 0.3rem;

  @reference border border-surface-300-600-token rounded-container-token;

  &:hover {
    @reference scale-110 shadow-lg;
  }

  .title {
    text-wrap: wrap;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .subtitle {
    text-wrap: wrap;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.card-btn-sm {
  width: 6rem;
  height: 6rem;
  max-width: 6rem;

  .icon {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.card-btn-md {
  width: 7rem;
  height: 7rem;
  max-width: 7rem;

  .icon {
    font-size: 2.25rem;
  }

  .title {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0.5rem;
  }

  .subtitle {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.card-btn-lg {
  width: 13rem;
  height: 13rem;
  max-width: 13rem;

  .icon {
    font-size: 5em;
  }

  .title {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
  }
}

/* === Button Groups - Horizontal === */
/* Skeleton ships the btn-group class with a background color on hover, which can't 
    be overriden, so we're using a custom btn-group and copying their other styles.
    See: https://github.com/skeletonlabs/skeleton/blob/0791fcf916b3f96db3be6ee941b48564c39cbffb/packages/plugin/src/styles/components/buttons.css#L82-L111
*/

.btn-group-custom {
  @reference variant-ghost-surface [&>*+*]:border-surface-500 inline-flex flex-row space-x-0 overflow-hidden rounded-token;
  /* Safari: hover overflow fix for border radius */
  isolation: isolate;
}

.btn-group-custom > * + * {
  @reference border-t-0 border-l border-surface-500/20;
}

.btn-group-custom button,
.btn-group-custom a {
  @reference button-base-styles;
  /* Reset Anchor Styles */
  @reference no-underline! text-inherit!;
}

.btn-group-custom button:not(:disabled):hover,
.btn-group-custom a:not(:disabled):hover {
  @reference variant-soft-secondary;
}

.btn-group-custom button.active,
.btn-group-custom a.active,
.btn-group-custom button:not(:disabled):active,
.btn-group-custom a:not(:disabled):active {
  @reference variant-soft-primary;
}

#terms-of-service {
  @reference mx-4;

  .subtitle {
    @reference text-base font-bold italic mb-4;
  }

  h1 {
    @reference h3;
  }

  h2 {
    @reference h4;
  }

  h1,
  h2 {
    @reference mt-4;
  }

  ul {
    @reference list-disc ml-8;
  }

  a {
    @reference anchor;
  }
}
